<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Vietsoft.Reminder.Properties.Settings.CMMS_EcomaintConnectionString" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=CMMS_Ecomaint;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="Vietsoft.Reminder.Properties.Settings.CMMS_EcomaintConnectionString1" connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=CMMS_Ecomaint;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
