--exec MashjBCXuatCT 'PX-1112-0012',0
ALTER procedure [dbo].[MashjBCXuatCT]
@MS_DH_XUAT_PT NVARCHAR (14),
@LANGUAGE INT 
AS
BEGIN

SELECT MS_PT, TEN_PT,DVT, AVG(SO_LUONG_CTU) AS SL_CT, SUM(SL_VT) AS SL_VT, AVG(DON_GIA) AS DON_GIA,NGOAI_TE, SUM(ROUND(THANH_TIEN,2)) AS THANH_TIEN,
SUM(ROUND(THANH_TIEN_USD,2)) AS THANH_TIEN_USD FROM (
SELECT     B.MS_PT, E.TEN_PT, CASE @LANGUAGE WHEN 1 THEN TEN_2 WHEN 2 THEN TEN_3 ELSE TEN_1 END AS DVT,
B.SO_LUONG_CTU, X.SL_VT,N.NGOAI_TE, N.DON_GIA, X.SL_VT * N.DON_GIA * N.TY_GIA AS THANH_TIEN, 
                      X.SL_VT * N.DON_GIA * N.TY_GIA / N.TY_GIA_USD AS THANH_TIEN_USD
FROM         dbo.IC_DON_HANG_NHAP_X_VAT_TU_CHI_TIET AS M INNER JOIN
                      dbo.IC_DON_HANG_NHAP_X_VAT_TU AS N ON M.MS_DH_NHAP_PT = N.MS_DH_NHAP_PT AND M.MS_PT = N.MS_PT INNER JOIN
                      dbo.IC_PHU_TUNG AS E INNER JOIN
                      dbo.IC_DON_HANG_XUAT_X_VAT_TU AS B ON E.MS_PT = B.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS G ON E.DVT = G.DVT INNER JOIN
                      dbo.IC_DON_HANG_XUAT_X_VAT_TU_CHI_TIET AS X ON B.MS_DH_XUAT_PT = X.MS_DH_XUAT_PT AND B.MS_PT = X.MS_PT ON 
                      M.MS_DH_NHAP_PT = X.MS_DH_NHAP_PT AND M.MS_PT = X.MS_PT AND M.MS_VI_TRI = X.MS_VI_TRI
WHERE     (B.MS_DH_XUAT_PT = @MS_DH_XUAT_PT ) ) A  
GROUP BY MS_PT, TEN_PT,DVT,NGOAI_TE ORDER BY MS_PT, TEN_PT,NGOAI_TE
END
