set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

--exec SP_NHU_Y_GET_DON_HANG_NHAP_RPT 'PN-1109-0204',1
ALTER procedure [dbo].[SP_NHU_Y_GET_DON_HANG_NHAP_RPT]
@MS_DH_NHAP_PT NVARCHAR (14),
@LANGUAGE INT   
AS
BEGIN
	SELECT     dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT, dbo.IC_DON_HANG_NHAP_X.SO_PHIEU_XN, dbo.IC_DON_HANG_NHAP_X.GIO, 
	dbo.IC_DON_HANG_NHAP_X.NGAY, dbo.IC_DON_HANG_NHAP_X.MS_KHO, dbo.IC_DON_HANG_NHAP_X.MS_DANG_NHAP, 
	dbo.IC_DON_HANG_NHAP_X.NGUOI_NHAP, dbo.IC_DON_HANG_NHAP_X.NGAY_CHUNG_TU, dbo.IC_DON_HANG_NHAP_X.SO_CHUNG_TU, 
	dbo.IC_DON_HANG_NHAP_X.DIEM, dbo.IC_DON_HANG_NHAP_X.DANH_GIA, dbo.IC_DON_HANG_NHAP_X.GHI_CHU, dbo.IC_DON_HANG_NHAP_X.LOCK, 
	dbo.IC_DON_HANG_NHAP_X.STT, dbo.IC_DON_HANG_NHAP_X.DA_HET, dbo.IC_DON_HANG_NHAP_X.THU_KHO, dbo.IC_DON_HANG_NHAP_X.MS_DDH, 
	dbo.IC_DON_HANG_NHAP_X.SO_DE_XUAT, dbo.IC_DON_HANG_NHAP_X.NGUOI_GIAO, dbo.IC_DON_HANG_NHAP_X.BSXE, dbo.IC_DON_HANG_NHAP_X.DIEM1, 
	dbo.IC_DON_HANG_NHAP_X.DIEM2, dbo.IC_DON_HANG_NHAP_X_VAT_TU.MS_PT, dbo.IC_PHU_TUNG.TEN_PT, dbo.IC_PHU_TUNG.MS_PT_NCC, 
	dbo.IC_PHU_TUNG.QUY_CACH,  CASE @LANGUAGE WHEN 1 THEN dbo.DON_VI_TINH.TEN_2 WHEN 2 THEN dbo.DON_VI_TINH.TEN_3 ELSE dbo.DON_VI_TINH.TEN_1 END AS DVT, 
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.SO_LUONG_CTU, dbo.IC_DON_HANG_NHAP_X_VAT_TU.SL_THUC_NHAP, 
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.DON_GIA, dbo.IC_DON_HANG_NHAP_X_VAT_TU.NGOAI_TE, dbo.NGOAI_TE.TEN_NGOAI_TE, 
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.TY_GIA, dbo.IC_DON_HANG_NHAP_X_VAT_TU.TY_GIA_USD, dbo.IC_DON_HANG_NHAP_X_VAT_TU.MS_VT_NCC, 
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.BAO_HANH_DEN_NGAY, dbo.IC_DON_HANG_NHAP_X_VAT_TU.SL_DA_SD, 
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.XUAT_XU, dbo.IC_DON_HANG_NHAP_X_VAT_TU.GHI_CHU AS GHI_CHU_CT, 
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.SL_THUC_NHAP * dbo.IC_DON_HANG_NHAP_X_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_X_VAT_TU.TY_GIA  AS THANH_TIEN,
	dbo.IC_DON_HANG_NHAP_X_VAT_TU.SL_THUC_NHAP * dbo.IC_DON_HANG_NHAP_X_VAT_TU.DON_GIA * dbo.IC_DON_HANG_NHAP_X_VAT_TU.TY_GIA_USD  AS THANH_TIEN_USD,
	dbo.IC_KHO.TEN_KHO,CASE @LANGUAGE WHEN 1 THEN dbo.DANG_NHAP.DANG_NHAP_ANH WHEN 2 THEN dbo.DANG_NHAP.DANG_NHAP_HOA ELSE dbo.DANG_NHAP.DANG_NHAP_VIET END AS TEN_DANG_NHAP,
	TMP.TEN_NGUOI_NHAP
	FROM         dbo.IC_DON_HANG_NHAP_X INNER JOIN
	dbo.IC_DON_HANG_NHAP_X_VAT_TU ON 
	dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT = dbo.IC_DON_HANG_NHAP_X_VAT_TU.MS_DH_NHAP_PT INNER JOIN
	dbo.IC_PHU_TUNG ON dbo.IC_DON_HANG_NHAP_X_VAT_TU.MS_PT = dbo.IC_PHU_TUNG.MS_PT INNER JOIN
	dbo.DON_VI_TINH ON dbo.IC_PHU_TUNG.DVT = dbo.DON_VI_TINH.DVT INNER JOIN
	dbo.NGOAI_TE ON dbo.IC_DON_HANG_NHAP_X_VAT_TU.NGOAI_TE = dbo.NGOAI_TE.NGOAI_TE INNER JOIN
	dbo.IC_KHO ON dbo.IC_DON_HANG_NHAP_X.MS_KHO = dbo.IC_KHO.MS_KHO INNER JOIN
	dbo.DANG_NHAP ON dbo.IC_DON_HANG_NHAP_X.MS_DANG_NHAP = dbo.DANG_NHAP.MS_DANG_NHAP INNER JOIN 
	(SELECT MS_CONG_NHAN AS MS_NGUOI_NHAP , HO + TEN AS TEN_NGUOI_NHAP
	FROM dbo.CONG_NHAN
	UNION
	SELECT MS_KH AS MS_NGUOI_NHAP ,TEN_CONG_TY AS TEN_NGUOI_NHAP
	FROM dbo.KHACH_HANG) TMP ON dbo.IC_DON_HANG_NHAP_X.NGUOI_GIAO = TMP.MS_NGUOI_NHAP 
	WHERE dbo.IC_DON_HANG_NHAP_X.MS_DH_NHAP_PT = @MS_DH_NHAP_PT
END


