
IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetListDownTime')
exec('CREATE PROCEDURE spGetListDownTime AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[spGetListDownTime]
	@USERNAME NVARCHAR(250) ='admin',
	@NNgu INT = 0,
	@MS_MAY NVARCHAR(30) = '-1',
	@NGAY DATE = '2022/05/24'
AS 
BEGIN
	SELECT TGDM.ID, TGDM.MS_MAY, TGDM.CaID,
	TGDM.NGAY,TGDM.TU_GIO,TGDM.DEN_NGAY, TGDM.DEN_GIO, TGDM.THOI_GIAN_SUA AS THOI_GIAN_NGUNG_MAY, TGDM.THOI_GIAN_SUA_CHUA, DTT.ID AS ID_DownType,
	TGDM.MS_NGUYEN_NHAN,TGDM.HIEN_TUONG,TGDM.NGUYEN_NHAN_CU_THE, TGDM.GHI_CHU,TGDM.NGUOI_GIAI_QUYET,TGDM.TRUONG_CA, TGDM.ID_CHA,TGDM.MS_TO,TGDM.MS_PHIEU_BAO_TRI
	FROM dbo.THOI_GIAN_NGUNG_MAY TGDM
	LEFT JOIN dbo.CA CA ON CA.STT = TGDM.CaID
	LEFT JOIN dbo.NGUYEN_NHAN_DUNG_MAY NNDM ON NNDM.MS_NGUYEN_NHAN = TGDM.MS_NGUYEN_NHAN
	LEFT JOIN dbo.DownTimeType DTT ON DTT.ID = NNDM.DownTimeTypeID
	WHERE (TGDM.MS_MAY = @MS_MAY OR @MS_MAY = '-1') AND CAST(TGDM.NGAY AS DATE) = @NGAY
	ORDER BY TGDM.MS_MAY, TGDM.TU_GIO, TGDM.DEN_GIO, CA
END	
