<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup>
  
<supportedRuntime version="v2.0.50727"/></startup>
   <appSettings>
        <!--; in từng nhà xưởng | ! tách ra 3 mảng in | , in theo group nhà xưởng-->
        <add key="CauHinhInNhaXuong" value="10;12;15;15.01;15.02;15.03;15.04;20;24;27!30,31,33,35,37,40!44;50;70;Factory"/>
     <!--10;12;15;15.01;15.02;15.03;15.04;20;24;27!30,31,33,35,37,40!44;50;70;Factory-->
   </appSettings>
</configuration>
