
--EXEC GetBCPhieuNhapSSD  N'PN-1410-0263',0

ALTER PROC [dbo].[GetBCPhieuNhapSSD]
	@MS_DH_NHAP_PT NVARCHAR(50) ='PN-2207-0001',
	@NNgu INT = 0
AS


SELECT ROW_NUMBER () OVER (ORDER BY T1.MS_PT, TEN_PT) AS STT,T1.MS_PT,
	CONVERT(NVARCHAR(500),T2.TEN_PT + CASE ISNULL(T2.QUY_CACH,'') WHEN '' THEN '' ELSE ' ' END +
			CASE ISNULL(T2.QUY_CACH,'') WHEN '' THEN '' ELSE '( '  + T2.QUY_CACH END + 
			CASE ISNULL(T2.QUY_CACH,'') WHEN '' THEN '' ELSE ' )' END) AS TEN_PT, 
	CASE @NNgu WHEN 0 THEN  T3.TEN_1 WHEN 2 THEN T3.TEN_2 ELSE T3.TEN_3 END AS DVT, 
	ISNULL(T1.SL_THUC_NHAP, 0) AS SL_THUC_NHAP, ISNULL(T1.DON_GIA,0) AS DON_GIA  ,
	ISNULL(T1.SL_THUC_NHAP, 0) * (ISNULL(T1.DON_GIA,0)) AS THANH_TIEN, T1.GHI_CHU
FROM         dbo.IC_DON_HANG_NHAP_VAT_TU AS T1 INNER JOIN
                      dbo.IC_PHU_TUNG AS T2 ON T1.MS_PT = T2.MS_PT INNER JOIN
                      dbo.DON_VI_TINH AS T3 ON T2.DVT = T3.DVT
WHERE T1.MS_DH_NHAP_PT = @MS_DH_NHAP_PT
ORDER BY T1.MS_PT, TEN_PT


