--SELECT * FROM PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG where MS_PHIEU_BAO_TRI ='WO-202111000347'
--exec H_GET_PHU_TUNG_PHIEU_BAO_TRI 'WO-202111000347',4,0,1
ALTER procedure [dbo].[H_GET_PHU_TUNG_PHIEU_BAO_TRI] 

	 @MS_PHIEU_BAO_TRI nvarchar(30),
	 @TINH_TRANG_PBT INT,
	 @TYPERLANGUAGE INT ,
	 @SUDUNGKHO INT
AS

/*
	DECLARE @MS_PHIEU_BAO_TRI nvarchar(30)
	DECLARE @TINH_TRANG_PBT INT
	DECLARE @TYPERLANGUAGE INT  
	DECLARE @SUDUNGKHO INT
	
--AS
SET @MS_PHIEU_BAO_TRI ='WO-200907004'
SET @TINH_TRANG_PBT = 3
SET @TYPERLANGUAGE = 0
SET @SUDUNGKHO = 0
*/
IF @TINH_TRANG_PBT = 3
BEGIN
		SELECT     B.QUY_CACH, A.MS_PT, NULL AS MS_PT_TT, B.TEN_PT, SUM(A.SL_KH) AS SL_KH, SUM(A.SL_TT) AS SL_TT, A.GHI_CHU, 
							  CASE WHEN @TYPERLANGUAGE = 0 THEN C.TEN_1 ELSE C.TEN_2 END AS 'DVT', @TINH_TRANG_PBT AS TT, 
							  B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, NULL AS DON_GIA, NULL AS NGOAI_TE,NULL AS TI_GIA, MS_PT_TT
		FROM         PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
                  IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT INNER JOIN
                  DON_VI_TINH AS C ON B.DVT = C.DVT INNER JOIN
                  LOAI_VT ON B.MS_LOAI_VT = LOAI_VT.MS_LOAI_VT LEFT OUTER JOIN
                  HANG_SAN_XUAT ON B.MS_HSX = HANG_SAN_XUAT.MS_HSX
		WHERE     (A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (LOAI_VT.VAT_TU = 0)
		GROUP BY B.QUY_CACH, A.MS_PT, B.TEN_PT, A.GHI_CHU, C.TEN_1, C.TEN_2, B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, MS_PT_TT
END
ELSE
BEGIN
IF @TINH_TRANG_PBT > 3
BEGIN
	IF @SUDUNGKHO = 1 -- CO SU DUNG KHO
		BEGIN
			--SELECT     A.QUY_CACH, C.MS_PT, C.MS_PTTT, A.TEN_PT, SUM(D.SL_KH) AS SL_KH, SUM(C.SL_TT) AS SL_TT, C.GHI_CHU, CASE WHEN @TYPERLANGUAGE = 0 THEN B.TEN_1 ELSE B.TEN_2 END AS 'DVT',
			--					   @TINH_TRANG_PBT AS TT, A.MS_PT_NCC, HANG_SAN_XUAT.TEN_HSX, C.DON_GIA,C.NGOAI_TE,C.TI_GIA, MS_PT_TT
			--FROM         IC_PHU_TUNG AS A 
			--INNER JOIN DON_VI_TINH AS B ON A.DVT = B.DVT 
			--INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO AS C ON A.MS_PT = C.MS_PTTT 
			--INNER JOIN PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS D ON C.MS_PHIEU_BAO_TRI = D.MS_PHIEU_BAO_TRI AND C.MS_CV = D.MS_CV AND 
   --                   C.MS_BO_PHAN = D.MS_BO_PHAN AND C.MS_PT = D.MS_PT 
			--INNER JOIN LOAI_VT ON A.MS_LOAI_VT = LOAI_VT.MS_LOAI_VT 
			--LEFT OUTER JOIN HANG_SAN_XUAT ON A.MS_HSX = HANG_SAN_XUAT.MS_HSX
			--WHERE     (C.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (LOAI_VT.VAT_TU = 0)
			--GROUP BY A.QUY_CACH, C.MS_PT, C.MS_PTTT, C.GHI_CHU, A.TEN_PT, B.TEN_1, B.TEN_2, A.MS_PT_NCC, D.SL_KH,
			--	HANG_SAN_XUAT.TEN_HSX, C.DON_GIA,C.NGOAI_TE,C.TI_GIA, MS_PT_TT
			
			SELECT     B.QUY_CACH, A.MS_PT, D.MS_PTTT, B.TEN_PT, SUM(A.SL_KH) AS SL_KH, SUM(D.SL_TT) AS SL_TT, A.GHI_CHU, 
								  CASE WHEN @TYPERLANGUAGE = 0 THEN C.TEN_1 ELSE C.TEN_2 END AS 'DVT', @TINH_TRANG_PBT AS TT, 
								  B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, D.DON_GIA,D.NGOAI_TE,D.TI_GIA, MS_PT_TT
			FROM         PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A 
			INNER JOIN IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT 
			INNER JOIN DON_VI_TINH AS C ON B.DVT = C.DVT 
			INNER JOIN LOAI_VT ON B.MS_LOAI_VT = LOAI_VT.MS_LOAI_VT 
			LEFT JOIN dbo.PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG_CHI_TIET_KHO AS D ON D.MS_PT = B.MS_PT AND D.MS_PHIEU_BAO_TRI = A.MS_PHIEU_BAO_TRI
			LEFT OUTER JOIN HANG_SAN_XUAT ON B.MS_HSX = HANG_SAN_XUAT.MS_HSX
			WHERE (A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (LOAI_VT.VAT_TU = 0)
			GROUP BY B.QUY_CACH, A.MS_PT,D.MS_PTTT, B.TEN_PT, A.GHI_CHU, C.TEN_1, C.TEN_2, B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX,D.DON_GIA,D.NGOAI_TE,D.TI_GIA, MS_PT_TT



		END
	ELSE -- KHONG SU DUNG KHO
		BEGIN 
			SELECT     B.QUY_CACH, A.MS_PT, NULL AS MS_PT_TT, B.TEN_PT, SUM(A.SL_KH) AS SL_KH, SUM(A.SL_TT) AS SL_TT, A.GHI_CHU, 
								  CASE WHEN @TYPERLANGUAGE = 0 THEN C.TEN_1 ELSE C.TEN_2 END AS 'DVT', @TINH_TRANG_PBT AS TT, 
								  B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, 0 AS DON_GIA,'' AS NGOAI_TE,0 AS TI_GIA, MS_PT_TT
			FROM         PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A 
			INNER JOIN IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT 
			INNER JOIN DON_VI_TINH AS C ON B.DVT = C.DVT 
			INNER JOIN LOAI_VT ON B.MS_LOAI_VT = LOAI_VT.MS_LOAI_VT 
			LEFT OUTER JOIN HANG_SAN_XUAT ON B.MS_HSX = HANG_SAN_XUAT.MS_HSX
			WHERE (A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (LOAI_VT.VAT_TU = 0)
			GROUP BY B.QUY_CACH, A.MS_PT, B.TEN_PT, A.GHI_CHU, C.TEN_1, C.TEN_2, B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, MS_PT_TT

		END
END 
ELSE
BEGIN
		SELECT     B.QUY_CACH, A.MS_PT, NULL AS MS_PTTT, B.TEN_PT, SUM(A.SL_KH) AS SL_KH, SUM(A.SL_TT) AS SL_TT, A.GHI_CHU, 
							  CASE WHEN @TYPERLANGUAGE = 0 THEN C.TEN_1 ELSE C.TEN_2 END AS 'DVT', @TINH_TRANG_PBT AS TT, 
							  B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, 0 AS DON_GIA,'' AS NGOAI_TE,0 AS TI_GIA, MS_PT_TT
		FROM         PHIEU_BAO_TRI_CONG_VIEC_PHU_TUNG AS A INNER JOIN
                      IC_PHU_TUNG AS B ON A.MS_PT = B.MS_PT INNER JOIN
                      DON_VI_TINH AS C ON B.DVT = C.DVT INNER JOIN
                      LOAI_VT ON B.MS_LOAI_VT = LOAI_VT.MS_LOAI_VT LEFT OUTER JOIN
                      HANG_SAN_XUAT ON B.MS_HSX = HANG_SAN_XUAT.MS_HSX
		WHERE     (A.MS_PHIEU_BAO_TRI = @MS_PHIEU_BAO_TRI) AND (LOAI_VT.VAT_TU = 0)
		GROUP BY B.QUY_CACH, A.MS_PT, B.TEN_PT, A.GHI_CHU, C.TEN_1, C.TEN_2, B.MS_PT_NCC,HANG_SAN_XUAT.TEN_HSX, MS_PT_TT

END
END
